body {
	padding: 0;
	margin: 0;
}

a:focus, a:hover {
    text-decoration: none;
}

.images {
    width: 100%;
}

.text-center {
    text-align: center;
}

.slider {
    position: relative;
    background: #181d1f;
}

.box-slider-img {
    width: 100%;
    height: 100%;
}

.images-silder::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
}

.images-silder img {
    width: 100%;
    vertical-align: top;
    height: 100%;
}

.text-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: -45px;
}

.text-top {
    font-size: 46px;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 25px;
    font-family: 'Roboto', sans-serif;
}

.text-bottom {
    font-size: 126px;
    color: #ebff07;
    font-weight: 900;
    letter-spacing: 65px;
    font-family: 'Roboto', sans-serif;
    margin-left: -10px
}

.menu-header {
    background: #181d1f;
}

.nav-menu {
    padding: 0 15%;
    margin: 0 auto;
}

.menu-list {
    display: flex;
}

.menu-item {
    padding: 20px 0;
    text-transform: uppercase;
    width: 16.67%;
    text-align: center;
    position: relative;
}

.menu-item:hover {
    background: #ebff07;
    cursor: pointer;
}

.menu-item:hover .menu-item-link {
    color: #000;
}

.menu-item .menu-item-link {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
}

.menu-item.active {
    background: #ebff07;
}

.menu-item.active .menu-item-link {
    font-size: 18px;
    color: #181d1f;
}

.menu-item::before {
    content: '';
    border: 1px solid #363a3c;
    height: 33px;
    position: absolute;
    top: 22%;
    right: -3px;
}

.box-item {
    padding: 215px 7.5% 15% 245px;
    margin: 0 auto;
}

.box-content-message {
    padding: 150px 80px 200px 160px;
    margin: 0 auto;
}

.box-business-content {
    padding: 120px 150px 140px 150px;
    margin: 0 auto;
}

.box-gray {
    background: #f8f8f8;
}

.box-breadcrumb {
    display: flex;
    align-items: center;
}

.box-center {
    justify-content: center;
}

.box-breadcrumb .breadcrumb-parent {
    top: 0px;
    left: 0px;
    font-size: 35px;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.box-breadcrumb .breadcrumb-child {
    padding-left: 30px;
    font-size: 16px;
    font-family: 'Hiragino Sans', 'Noto Sans Japanese', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
}

.box-breadcrumb .breadcrumb-parent:after {
    position: absolute;
    content: '';
    top: 5px;
    right: -25px;
    height: 75%;
    width: 0%;
    border-left: 1px solid;
    transform: skew(-30deg);
    transform-origin: top left;
}

.box-content {
    margin-top: 20px;
    overflow: hidden;
}

.box-text {
    margin-top: 40px;
}

.text-detail {
    font-size: 16px;
    line-height: 25px;
    font-family: 'Hiragino Sans', 'Noto Sans Japanese', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
}

.box-business-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto 0;
    width: 100%;
    max-width: 940px;
}

.box-icon {
    padding-right: 20px;
    width: 20%
}

.box-icon:last-child {
    padding-left: 20px;
    padding-right: 0;
    border-left: 1px solid #d1d6d7;
}

.box-icon-item {
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-icon-warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 80px;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
}

.box-icon-text {
    padding-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #4bf5ef;
    font-weight: 700;
    margin-bottom: 0;
}

.text-green {
    color: #a5f81c;
}

.box-icon-detail {
    margin-top: 15px;
}

.text-icon-detail {
    font-size: 13px;
    line-height: 20px;
    font-family: 'Hiragino Sans', 'Noto Sans Japanese', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
}

.box-card {
    overflow: hidden;
    padding-bottom: 35px;
}

.box-card-image {
    position: relative;
}

.image-card {
    position: absolute;
    bottom: -35px;
    left: 0;
}

.table-content tr {
    line-height: 25px;
    font-size: 16px;
}

.table-content tr td:first-child {
    padding-right: 40px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-60 {
    margin-top: 60px;
}

.btn-more {
    padding: 20px 115px;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    background: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
}

.border-gray {
    border: 1px solid #f8f8f8;
}

.footer {
    background: #0b0d0e;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}

.text-footer {
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    padding-right: 90px;
    text-align: right;
}

.sticky-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.scroll-to-top {
    position: fixed;
    bottom: 135px;
    right: -58px;
    transform: rotate(450deg);
    padding: 12px 24px;
    background: #ebff05;
}

.button-to-top {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    padding-left: 18px;
}

.button-to-top:before {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border: 2px solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
    position: absolute;
    top: 16px;
    left: 29px;
}

.box-image-contact {
    width: 100%;
    height: 100%;
}

.box-corporate-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-corporate-table {
    margin: 0 15px;
    padding-right: 120px;
    font-family: 'Hiragino Sans', 'Noto Sans Japanese', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
}

.box-recruit-text .text-detail {
    padding: 35px 150px 0;
    font-family: 'Hiragino Sans', 'Noto Sans Japanese', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
}

.box-recruit-content {
    padding: 100px 150px 70px;
}

.box-content-corporate {
    padding: 120px 120px 150px;
}

.box-icon-warpper:hover .box-icon-text {
    color: #a5f81c;
}

.box-recruit-image,
.box-image-content {
    transition: opacity .35s ease;
    cursor: pointer;
}

.box-recruit-image:hover,
.box-image-content:hover{
    opacity: 0.7;
}